<%- include("../includes/boilerplate.ejs") %>

<body class="body-2">
  <div class="container">
    <div class="text">TASK DETAILS</div>
    <form action="#">
      <div class="form-row">
        <div class="input-data">
          <input
            style="text-transform: capitalize"
            type="text"
            name="task"
            value=" <%= data.task %>"
            required
          />
          <div class="underline"></div>
          <label for="">Task</label>
        </div>
        <div class="input-data">
          <input
            type="text"
            name="task"
            value=" <%= data.category %>"
            required
          />
          <div class="underline"></div>
          <label for="">CATEGORY</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data new-input-data disabled-date">
          <input
            type="text"
            name="new-endDate"
            value="<%=
          data.createdAt.replace(/\//g, '-'); %>"
            required
            readOnly
          />
          <div class="underline"></div>
          <label for="">Date</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data textarea">
          <textarea rows="8" cols="80" name="description" required>
 <%= data.description %> </textarea
          >
          <br />
          <div class="underline"></div>
          <label for="">Task Description</label>
          <br />
        </div>
      </div>
    </form>
  </div>
</body>
