<%- include("../includes/markup.ejs") %>

<body class="body-2">
  <div class="container">
    <div class="text">TASK DETAILS</div>
    <form action="#">
      <div class="form-row">
        <div class="input-data">
          <input type="text" name="task" value=" <%= data.task %>" required />
          <div class="underline"></div>
          <label for="">Task</label>
        </div>
        <div class="input-data">
          <select required name="newTask[category]">
            <option value="<%= data.category %>"><%= data.category %></option>
            <option value="Home">Home</option>
            <option value="Office">Office</option>
            <option value="Personal">Personal</option>
            <option value="Study">Study</option>
          </select>
          <div class="underline"></div>
          <label for="">CATEGORY</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data new-input-data disabled-date">
          <input
            type="text"
            name="new-endDate"
            value="<%=
          data.createdAt.replace(/\//g, '-'); %>"
            required
            readOnly
          />
          <div class="underline"></div>
          <label for="">Date</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data textarea">
          <textarea rows="8" cols="80" name="description" required>
 <%= data.description %> </textarea
          >
          <br />
          <div class="underline"></div>
          <label for="">Task Description</label>
          <br />
        </div>
      </div>
    </form>
  </div>
</body>
